.top{
  padding: 25px 0 50px 0;
}
.top__inner{
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.top__img{
  max-width: 400px;
  width: 100%;
  margin-bottom: 32px;
  align-self: center;
}

.top__title{
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 15px;
}

.top__text{
  max-width: 320px;
  color: #222222;
}